@tailwind base;
@tailwind components;

html, body {
  @apply font-sans antialiased;
}

:root {
  --link-underline-color: #dae1e7;
  --offset: .5rem;
}

a {
  @apply text-black no-underline;
  box-shadow: inset 0 -0.5em 0 var(--link-underline-color);
  transition: box-shadow 0.2s ease-in-out;
}

a:hover {
  box-shadow: inset 0 -0.1em 0 var(--link-underline-color);
}

a.no-decoration, a.no-decoration:hover {
  box-shadow: none;
  transition:none;
}

a.white-link, a.white-link:hover {
  @apply text-white;
  --link-underline-color: #4A5568;
}

.stripe-shadow-black, .content h2 {
  @apply relative text-white bg-black border-2 border-white;
}
.stripe-shadow-black::after, .content h2::after {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: calc(-1 * var(--offset));
  left: var(--offset);
  right: calc(-1 * var(--offset));
  top: var(--offset);
  background: repeating-linear-gradient(
    45deg,
    black,
    black 1px,
    transparent 1px,
    transparent 3px
  );

}

.stripe-shadow-white {
  z-index: 1;
  @apply relative bg-white border-2 border-transparent;
}

.stripe-shadow-white::after {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: calc(-1 * var(--offset));
  left: var(--offset);
  right: calc(-1 * var(--offset));
  top: var(--offset);
  background: repeating-linear-gradient(
    45deg,
    white,
    white 1px,
    transparent 1px,
    transparent 3px
  );
}
.image-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
  width: 100vw;

}

.flow {
  --flow-space: 1em;
}

.flow > * + * {
    margin-top: 1em;
    margin-top: var(--flow-space);
}
.flow h2 {
  --flow-space: 4rem;
}
.flow h3 {
  --flow-space: 3rem;
}

.content-page h2 {
  @apply text-2xl font-bold;
}
.content-page h3 {
  @apply text-xl font-bold;
}

.content-page a + a {
  @apply ml-1;
}
/* .content-page a + a::before {
  content: ' ';
} */
blockquote {
  /* --flow-space: 4rem; */
  @apply pl-4 text-lg italic border-l-2 border-black;
}

@tailwind utilities;
